@use "sass:color";

$cjk-fallback: "Noto Sans CJK TC", "Microsoft Jhenghei";

$color-a: #dfb5af;
$color-b: #91d6c3;
$color-white: #f8f6f7;

html {
  font-family: "M PLUS 1p", $cjk-fallback, sans-serif;
  background: $color-white;
}

body {
  font-size: 16pt;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > header {
    margin-bottom: 2rem;
    font-weight: 700;
    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.5;
      transition: opacity 250ms ease;
    }
    .current,
    a:hover {
      opacity: 1;
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 40rem;
      margin: 0 auto;
    }
    li {
      display: inline-block;
    }
  }
  & > main {
    flex-grow: 1;
    margin: 3rem 15%;
    display: flex;
    article {
      flex-grow: 1;
    }
    aside {
      margin-left: 2rem;
      width: 20rem;
    }
  }
  & > footer {
    // 用padding才會保持完全從左到右的背景顏色
    padding: 2rem 10% 2rem 10%;
    background: darken($color-b, 30%);
    color: $color-white;
    h1 {
      font-size: 16pt;
    }
    a {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

a {
  color: darken($color-b, 30%);
  text-decoration: none;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.25rem;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0.25rem solid darken($color-a, 30%);
  }
}

aside {
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    display: inline-block;
    width: 100%;
    color: darken($color-b, 30%);
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem #00000064;
    opacity: 0.7;
    transition: all 250ms ease;
    &:hover,
    &.current {
      opacity: 1;
    }
  }
}

article {
  h1 {
    margin: 2rem 0 1rem 0;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: darken($color-b, 30%);
  }
}

p {
  margin: 0 0 1rem 0;
}

#logo {
  color: inherit;
  text-decoration: none;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10% 2rem 0;
  span {
    display: inline-block;
  }
  h1 {
    font-weight: 300;
    margin-left: 1rem;
  }
  img {
    max-height: 3em;
  }
}

@media (max-width: 1200px) {
  body > main {
    margin: 5%;
  }
}

@media (max-width: 700px) {
  #logo {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 12pt;
    img {
      display: none;
    }
    h1 {
      margin-left: 0;
      margin-top: 0;
    }
  }
  body {
    & > header {
      ul {
        display: unset;
      }
      li {
        display: list-item;
        font-size: 120%;
        line-height: 1.5;
      }
    }
    & > footer {
      padding: 1rem 5%;
    }
  }
}
