html {
  font-family: "M PLUS 1p", "Noto Sans CJK TC", "Microsoft Jhenghei", sans-serif;
  background: #f8f6f7;
}

body {
  font-size: 16pt;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  margin-bottom: 2rem;
  font-weight: 700;
}
body > header a {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 250ms ease;
}
body > header .current,
body > header a:hover {
  opacity: 1;
}
body > header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40rem;
  margin: 0 auto;
}
body > header li {
  display: inline-block;
}
body > main {
  flex-grow: 1;
  margin: 3rem 15%;
  display: flex;
}
body > main article {
  flex-grow: 1;
}
body > main aside {
  margin-left: 2rem;
  width: 20rem;
}
body > footer {
  padding: 2rem 10% 2rem 10%;
  background: #38967c;
  color: #f8f6f7;
}
body > footer h1 {
  font-size: 16pt;
}
body > footer a {
  color: #f8f6f7;
  text-decoration: underline;
}

a {
  color: #38967c;
  text-decoration: none;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.25rem;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 0.25rem solid #af5346;
}

aside ul {
  list-style: none;
  padding: 0;
}
aside a {
  display: inline-block;
  width: 100%;
  color: #38967c;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #00000064;
  opacity: 0.7;
  transition: all 250ms ease;
}
aside a:hover, aside a.current {
  opacity: 1;
}

article img {
  max-width: 100%;
}
article h1 {
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: #38967c;
}

p {
  margin: 0 0 1rem 0;
}

#logo {
  color: inherit;
  text-decoration: none;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10% 2rem 0;
}
#logo span {
  display: inline-block;
}
#logo h1 {
  font-weight: 300;
  margin-left: 1rem;
}
#logo img {
  max-height: 3em;
}

@media (max-width: 1200px) {
  body > main {
    margin: 5%;
  }
}
@media (max-width: 700px) {
  #logo {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 12pt;
  }
  #logo img {
    display: none;
  }
  #logo h1 {
    margin-left: 0;
    margin-top: 0;
  }

  body > header ul {
    display: unset;
  }
  body > header li {
    display: list-item;
    font-size: 120%;
    line-height: 1.5;
  }
  body > footer {
    padding: 1rem 5%;
  }
}
