aside ul {
  list-style: none;
  padding: 0;
}
aside a {
  display: inline-block;
  width: 100%;
  color: #38967c;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #00000064;
  opacity: 0.7;
  transition: all 200ms ease;
}
aside a:hover, aside a.current {
  opacity: 1;
}

article img {
  max-width: 40%;
  box-shadow: 0 0 0.5rem #00000090;
  margin: 0.5rem 1rem 0.5rem 0;
}
article h1 {
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: #b16154;
}
