@charset "UTF-8";
.two-columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-gap: 2rem;
}
.two-columns > :nth-child(1) {
  grid-column: 1/2;
}
.two-columns > :nth-child(2) {
  grid-column: 2/3;
}

.rounded-shadow {
  box-shadow: 0 0 0.5rem #00000090;
  border-radius: 0.5rem;
}

.constrain-width {
  max-width: 100% !important;
  width: 100%;
}

a.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #00000070;
  height: 15rem;
  transition: all 250ms ease;
  background-color: #e1c2bd;
  color: #6d3a32;
}
a.card:hover {
  text-decoration: none;
  box-shadow: 0 0 1rem #00000070;
}
a.card span {
  margin: 0.5rem 1rem;
}
a.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 80%;
}

ul.cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}
ul.cards li {
  width: 45%;
}
@media (max-width: 700px) {
  ul.cards li {
    width: 100%;
  }
}

#prev-and-next {
  margin: 1rem auto 0 auto;
}
#prev-and-next > hr {
  margin: 3rem 0;
}
#prev-and-next > div {
  display: flex;
  column-gap: 2rem;
}
#prev-and-next > div .prev .card span::before {
  content: "«";
  margin-right: 1ch;
}
#prev-and-next > div .next .card span {
  text-align: right;
}
#prev-and-next > div .next .card span::after {
  content: "»";
  margin-left: 1ch;
}
#prev-and-next > div > div {
  width: 50%;
}

html {
  font-family: "M PLUS 1p", "Noto Sans CJK TC", "Microsoft Jhenghei", sans-serif;
  background: #f8f6f7;
}

body {
  font-size: 16pt;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  margin-bottom: 2rem;
  font-weight: 700;
}
body > header a {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 250ms ease;
}
body > header .current,
body > header a:hover {
  opacity: 1;
}
body > header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40rem;
  margin: 0 auto;
}
body > header li {
  display: inline-block;
}
body > main {
  flex-grow: 1;
  margin: 3rem 15%;
}
body > footer {
  padding: 2rem 10% 2rem 10%;
  background: #38967c;
  color: #f8f6f7;
}
body > footer h1 {
  font-size: 16pt;
}
body > footer a {
  color: #f8f6f7;
  text-decoration: underline;
}

a {
  color: #38967c;
  text-decoration: none;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.25rem;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 0.25rem solid #b16154;
}

aside ul {
  list-style: none;
  padding: 0;
}
aside a {
  display: inline-block;
  width: 100%;
  color: #38967c;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #00000064;
  opacity: 0.7;
  transition: all 250ms ease;
}
aside a:hover, aside a.current {
  opacity: 1;
}

article img {
  max-width: 40%;
  box-shadow: 0 0 0.5rem #00000090;
  margin: 0.5rem 1rem 0.5rem 0;
}
article h1 {
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: #b16154;
}

p {
  margin: 0 0 1rem 0;
}

#logo {
  color: inherit;
  text-decoration: none;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10% 2rem 0;
}
#logo span {
  display: inline-block;
}
#logo h1 {
  font-weight: 300;
  margin-left: 1rem;
}
#logo img {
  max-height: 3em;
}

@media (max-width: 1200px) {
  body > main {
    margin: 5%;
  }
}
@media (max-width: 700px) {
  #logo {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 12pt;
  }
  #logo img {
    display: none;
  }
  #logo h1 {
    margin-left: 0;
    margin-top: 0;
  }

  body > header {
    margin: 5%;
  }
  body > header ul {
    display: unset;
  }
  body > header li {
    display: list-item;
    font-size: 120%;
    line-height: 1.5;
  }
  body > main {
    flex-direction: column;
  }
  body > footer {
    padding: 1rem 5%;
  }
}
