@use "sass:color";
@import "variables";

// html {
//   font-family: "M PLUS 1p", $cjk-fallback, sans-serif;
//   background: $color-white;
// }

aside {
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    display: inline-block;
    width: 100%;
    color: darken($color-b, 30%);
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem #00000064;
    opacity: 0.7;
    transition: all 200ms ease;
    &:hover,
    &.current {
      opacity: 1;
    }
  }
}
