<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {{ if (eq .Kind "home") }}
    <title>高科大夢想漫研</title>
    {{ else }}
    <title>{{.Title}} | 高科大夢想漫研</title>
    {{ end }}
    <meta property="og:title" content="{{.Title}}" />

    {{ with .Site.Params.description }}
    <meta name="description" content="{{.}}" />
    <meta name="twitter:description" content="{{.}}" />
    <meta property="og:description" content="{{.}}" />
    {{ end }}
    <meta property="og:sitename" content="{{.Site.Params.sitename}}" />
    <link rel="icon" href="/favicon.ico" />
    <meta property="og:url" content="{{.Permalink | absURL }}" />
    <link rel="canonical" href="{{ .Permalink | absURL }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="siteheader">
      <div id="logo">
        <img src="/icon.png" alt="Icon" />
        <h1><span>高科大</span><span>夢想漫研社</span></h1>
      </div>
      <nav>
        <ul>
          <li>{{ partial "cura" (dict "ctx" . "href" "/" "text" "首頁") }}</li>
          <li>
            {{ partial "cura" (dict "ctx" . "href" "/about/" "text" "認識我們")
            }}
          </li>
          <li>
            {{ partial "cura" (dict "ctx" . "href" "/events/" "text" "社團活動")
            }}
          </li>
          <li>
            {{ partial "cura" (dict "ctx" . "href" "/calendar/" "text" "行事曆")
            }}
          </li>
          <li>
            {{ partial "cura" (dict "ctx" . "href" "/join/" "text" "入社") }}
          </li>
          <li><a href="https://twitter.com/DreamsComiC8763">Twitter</a></li>
          <li>
            {{ partial "cura" (dict "ctx" . "href" "/org/" "text" "組織章程") }}
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Contents -->
      {{ block "main" . }} {{ end }}
    </main>
    <!-- Footer -->
    <footer id="sitefooter"></footer>
  </body>
</html>
