<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="keywords"
      content="漫研社,高科大,高雄科技大學,第一校區,夢想漫研社,ACG,高第一"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {{ if (eq .Kind "home") }}
      <title>高科大夢想漫研</title>
    {{ else }}
      <title>{{ .Title }} | 高科大夢想漫研</title>
    {{ end }}
    <meta property="og:title" content="{{ .Title }}" />

    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}" />
      <meta name="twitter:description" content="{{ . }}" />
      <meta property="og:description" content="{{ . }}" />
    {{ end }}
    <meta property="og:sitename" content="{{ .Site.Params.sitename }}" />
    <link rel="icon" href="/favicon.ico?v=1" />
    <meta property="og:url" content="{{ .Permalink | absURL }}" />
    <link rel="canonical" href="{{ .Permalink | absURL }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/built.css?v=1" />
    <script
      defer
      data-domain="nkust-dcc.github.io"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>
  <body class="flex flex-col min-h-screen m-auto text-base">
    <!-- Header -->
    <header
      class="{{ if .Params.cover }}
        h-[26rem] md:h-[26rem]
      {{ end }} font-bold md:mb-4 header main-width"
    >
      {{ with .Params.cover }}
        <div class="absolute w-full inset-0 z-[-1]">
          <img
            class="h-[26rem] md:h-[26rem] w-full object-cover"
            src="{{ . }}"
          />
        </div>
        <!-- 漸層；top要是上面header和img的高度減掉漸層的高度(12rem) -->
        <div
          class="absolute w-full right-0 bottom-0 left-0 top-[14rem] md:top-[14rem] z-[-1]"
        >
          <div
            class="bg-gradient-to-b from-transparent via-[#ffffff55] to-white h-[12rem] w-full object-cover"
          ></div>
        </div>
      {{ end }}
      <div
        id="logo"
        class="
          {{ if .Params.cover }}legible-on-image{{ end }}
          flex
          gap-x-4
          justify-start
          mt-4 mb-0
          pl-2
          -ml-2
          md:items-center md:mt-16 md:mb-8
        "
      >
        <img
          class="hidden md:block max-h-16 text-2xl"
          src="/icon.png?v=1"
          alt="Icon"
        />
        <h1 class="my-0 text-2xl md:text-5xl">
          <span class="inline-block">高科大</span
          ><span class="inline-block">夢想漫研社</span>
        </h1>
      </div>
      <nav
        class="
          {{ if .Params.cover }}legible-on-image{{ end }}
          md:pl-2
          md:-ml-2"
      >
        <ul
          class="text-lg list-none rounded flex max-md:flex-col md:w-full gap-x-4 gap-y-2"
        >
          <li class="md:inline-block">
            {{ partial "cura" (dict "ctx" . "href" "/" "text" "首頁") }}
          </li>
          <li class="md:inline-block">
            <!-- prettier-ignore -->
            {{ partial "cura" (dict "ctx" . "href" "/about/" "text" "關於")}}
          </li>
          <li class="md:inline-block">
            <!-- prettier-ignore -->
            {{ partial "cura" (dict "ctx" . "href" "/tags/社團活動/" "text" "活動紀錄")}}
          </li>
          <li class="md:inline-block">
            <!-- prettier-ignore -->
            {{ partial "cura" (dict "ctx" . "href" "/calendar/" "text" "行事曆")}}
          </li>
          <li class="md:inline-block">
            <!-- prettier-ignore -->
            {{ partial "cura" (dict "ctx" . "href" "/join/" "text" "新生專區/入社") }}
          </li>
          <li class="md:inline-block">
            <a href="https://twitter.com/DreamsComiC8763">Twitter</a>
          </li>
          <li class="md:inline-block">
            <!-- prettier-ignore -->
            {{ partial "cura" (dict "ctx" . "href" "/組織章程/" "text" "組織章程") }}
          </li>
        </ul>
      </nav>
    </header>
    <main class="grow flex-col md:flex-row main-width mb-8">
      <!-- Contents -->
      {{ block "main" . }}{{ end }}
    </main>
    <!-- Footer -->
    <footer class="bg-b-dark text-white py-8 footer">
      <div class="main-width">
        <dl class="mb-4">
          <dt>社團辦公室</dt>
          <dd>高雄科技大學第一校區活動中心三樓</dd>
          <dt>Twitter</dt>
          <dd>
            <a target="_blank" href="https://twitter.com/DreamsComiC8763"
              >@DreamsComiC8763</a
            >
          </dd>
          <dt>Instagram</dt>
          <dd>
            <a target="_blank" href="https://instagram.com/nkust.dcc"
              >nkust.dcc</a
            >
          </dd>
        </dl>
        <p>
          © {{ now.Year }} 高雄科技大學（第一校區）夢想漫研社。版權所有；<a
            target="_blank"
            href="https://github.com/NKUST-DCC/nkust-dcc.github.io"
            >程式碼依MIT授權條款釋出</a
          >。
        </p>
      </div>
    </footer>
    <script type="text/javascript" src="/js/medium-zoom.min.js"></script>
    <script>
      // This seems to be robust enough without me having to make every
      // image a figure with a caption. The :not excludes images
      // inside a link.
      mediumZoom("article img:not(a img), figure img", {
        background: "#00000050",
        margin: 20,
      });
      {
        const QRLink = document.getElementById("新生群");
        if (typeof QRLink !== "undefined") {
          QRLink.addEventListener("click", (e) => {
            e.preventDefault();
            fetch(QRLink.href, { method: "head", redirect: "manual" }).then(
              (r) => {
                if (r.status === 200) {
                  location.href = QRLink.href;
                } else {
                  const id = "新生群expl";
                  if (document.getElementById(id)) return;
                  const expl = document.createElement("p");
                  expl.id = id;
                  expl.textContent =
                    "LINE似乎不願意直接開啟這個連結，請試試看用手機掃描";
                  QRLink.after(expl);
                }
              },
            );
          });
        }
      }
    </script>
  </body>
</html>
