{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <!-- prettier-ignore -->
  <ul>
  {{ range .GetTerms "tags" }}
    <li><a href="{{.Permalink}}">#{{.Title}}</a></li>
  {{ end }}
  </ul>
  {{.Content}}
</article>
{{ if (eq .Section "posts") }}
<div id="prev-and-next">
  <hr />
  <div>
    <!-- prettier-ignore -->
    {{with .Prev}}
    <div class="prev">{{partial "card" .}}</div>
    {{end}}
    <!-- prettier-ignore -->
    {{with .Next}}
    <div class="next">{{partial "card" .}}</div>
    {{end}}
  </div>
</div>
{{ end }} {{ end }}
