<div class="member lg:flex lg:flex-row lg:gap-8 lg:h-36 min-h-[2rem]">
  {{ with .photo }}
    <img class="m-0 w-36 h-36 object-cover mb-4 lg:mb-0" src="{{ . }}" />
  {{ else }}
    <img
      class="m-0 w-36 h-36 object-cover mb-4 lg:mb-0"
      src="/assets/avatar/placeholder.png"
    />
  {{ end }}
  <div>
    <div class="text-xl font-bold">{{ .role }}</div>
    <div class="text-xl block whitespace-nowrap md:inline">{{ .name }}</div>
    <div class="flex space-x-2">
      {{ with .pixiv }}
        <a href="https://www.pixiv.net/users/{{ . }}">
          {{ partial "simple-icon" "pixiv" }}
        </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .bahamut }}
      <a href="https://home.gamer.com.tw/homeindex.php?owner={{.}}">
        <img
          class="rounded icon gray"
          src="https://home.gamer.com.tw/favicon.ico"
        />
      </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .facebook_page }}
      <a href="https://www.facebook.com/{{.}}">
        {{ partial "simple-icon" "facebook" }}
      </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .facebook }}
      <a href="https://www.facebook.com/profile.php?id={{.}}">
        {{ partial "simple-icon" "facebook" }}
      </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .instagram }}
      <a href="https://www.instagram.com/{{.}}">
        {{ partial "simple-icon" "instagram" }}
      </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .twitter }}
      <a href="https://twitter.com/{{.}}">
        {{ partial "simple-icon" "twitter" }}
      </a>
      {{ end }}
      <!-- prettier-ignore -->
      {{ with .line }}
      <a href="https://line.me/ti/p/~{{.}}">
        {{ partial "simple-icon" "line" }}
      </a>
      {{ end }}
    </div>
  </div>
</div>
