{{define "main"}}
<div class="flex gap-x-8">
  <div class="w-1/2">{{ partial "youtube" "j_jYGrm0USQ" }}</div>
  <div class="w-1/2">
    {{.Content}}
    <a class="btn" href="/join">加入社團</a>
  </div>
</div>
<div class="text-center"></div>
<h1 class="mt-8">最近活動</h1>
<ul class="cards">
  <!-- prettier-ignore -->
  {{ range (first 4 (where .Site.RegularPages "Params.tags" "intersect" (slice "社團活動"))) }}
  <li>{{ partial "card" . }}</li>
  {{ end }}
</ul>
<div class="text-center">
  <a class="btn" href="/tags/社團活動">更多活動記錄</a>
</div>
{{end}}
