{{ define "main" }}
  <div class="gap-x-8 md:flex">
    <div class="md:w-1/2">
      {{ .Content }}
      <a id="新生群" href="https://line.me/R/ti/g/S5hRX4IZ69">
        <img src="/assets/line/line-113.png" alt="LINE QR Code" />
      </a>
      <a class="btn" href="/join">加入社團</a>
    </div>
  </div>
  <h1 class="mt-8">最近活動</h1>
  <ul class="cards">
    {{ $relevant_pages := (where .Site.RegularPages "Params.tags" "intersect" (slice "社團活動")) }}
    {{ range (first 4 $relevant_pages.ByDate.Reverse) }}
      <li>{{ partial "card" . }}</li>
    {{ end }}
  </ul>
  <div class="text-center">
    <a class="btn" href="/tags/社團活動">更多活動紀錄</a>
  </div>
  <h1 class="mt-8">認識我們</h1>
  {{ partial "幹部" . }}
  <div class="text-center">
    <a class="btn" href="/about">關於我們</a>
  </div>
{{ end }}
