{{define "main"}}
<div class="md:flex gap-x-8">
  <div class="md:w-1/2">
    {{.Content}}

    <a class="btn" href="/join">加入社團</a>
  </div>
</div>
<h1 class="mt-8">最近活動</h1>
<ul class="cards">
  <!-- prettier-ignore -->
  {{ range (first 4 (where .Site.RegularPages "Params.tags" "intersect" (slice "社團活動"))) }}
  <li>{{ partial "card" . }}</li>
  {{ end }}
</ul>
<div class="text-center">
  <a class="btn" href="/tags/社團活動">更多活動紀錄</a>
</div>
<h1 class="mt-8">幹部們</h1>
<ul class="flex flex-wrap gap-6 list-none lg:w-[80%]">
  <!-- prettier-ignore -->
  {{ with (site).Data.幹部 }}
    {{ range (index . "111") }}
  <li class="w-[45%]">{{ partial "member" . }}</li>
  {{ end }} {{ end }}
</ul>
<div class="text-center">
  <a class="btn" href="/about">關於我們</a>
</div>
{{end}}
