{{ define "main" }}
  <article>
    {{ if .Param "old_url" }}
      {{ if .Param "extra_note" }}
        <p>
          <em
            >（原本公開在<a href="{{ .Param "old_url" }}">舊網站</a
            >；{{ .Param "extra_note" }}）</em
          >
        </p>
      {{ else }}
        <p>
          <em>（原本公開在<a href="{{ .Param "old_url" }}">舊網站</a>）</em>
        </p>
      {{ end }}
    {{ end }}
    <h1 class="mb-4">{{ .Title }}</h1>
    {{ .Content }}
  </article>
  <div class="mt-6">
    {{ with .GetTerms "tags" }}
      <div class="flex space-x-2">
        {{ range . }}
          <a class="text-sm block" href="{{ .Permalink }}">#{{ .Title }}</a>
        {{ end }}
      </div>
    {{ end }}
    {{ with (.Param "published") }}
      <div class="text-sm">公開日期:{{ partial "date" . }}</div>
    {{ end }}
    {{ with (.Param "author") }}
      <div class="text-sm">作者: {{ . }}</div>
    {{ end }}
    {{ with (.Param "migrated_editor") }}
      <div class="text-sm">編輯: {{ . }}</div>
    {{ end }}
    {{ with (.Param "migrated_date") }}
      <div class="text-sm">編輯日期: {{ partial "date" . }}</div>
    {{ end }}
  </div>
  {{ if (eq .Section "posts") }}
    <div class="my-0">
      <hr class="mx-0 mb-12 my-6" />
      <div class="flex flex-col md:flex-row gap-8">
        {{ with .PrevInSection }}
          <div class="md:w-1/2">
            {{ partial "card" . }}
          </div>
        {{ end }}
        {{ with .NextInSection }}
          <div class="md:w-1/2 md:text-right">
            {{ partial "card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
