{{ define "main" }}
  {{ $calendars := (where .Site.RegularPages "Section" "calendar") }}
  {{ $calendars = (sort $calendars "Title" "desc") }}

  {{ $latest := (index $calendars 0).File.ContentBaseName }}

  {{ $this := "" }}
  {{ if .IsSection }}
    {{ $this = $latest }}
  {{ else }}
    {{/* FIXME: using ContentBaseName we always use the zh-TW calendars. */}}
    {{/* That's kind of unavoidable since the calendars aren't translated (yet). */}}
    {{/* $this = .File.BaseFileName */}}
    {{ $this = .File.ContentBaseName }}
  {{ end }}


  <div class="md:two-columns">
    <article>
      <img
        class="shadow rounded-lg constrain-width"
        src="{{ printf "/assets/calendar/%s.png" $this }}"
      />
    </article>
    <aside class="side-menu">
      <ul>
        {{ range (sort (where .Site.RegularPages "Section" "calendar") "Title" "desc") }}
          <li>
            {{ partial "cura" (dict "ctx" $ "href" .Permalink "text" .Title) }}
          </li>
        {{ end }}
      </ul>
    </aside>
  </div>
{{ end }}
