{{ define "main" }}

<!-- prettier-ignore -->
{{ $calendars := (where .Site.RegularPages "Section" "calendar") }}
{{ $calendars = (sort $calendars "Title" "desc") }}

{{ $latest := (index $calendars 0).File.BaseFileName }}

{{ $this := "" }}
{{ if .IsSection }}
{{ $this = $latest }}
{{ else }}
{{ $this = .File.BaseFileName }}
{{ end }}

<article>{{partial "pdf" (printf "/assets/calendar/%s.pdf" $this)}}</article>
<aside>
  <ul>
    <!-- prettier-ignore -->
    {{ range (sort (where .Site.RegularPages "Section" "calendar") "Title" "desc")}}
    <li>{{ partial "cura" (dict "ctx" $ "href" .Permalink "text" .Title) }}</li>
    {{ end }}
  </ul>
</aside>
{{ end }}
